<style>
	.angular-google-map-container { height: 200px; }
	@media (min-width: 768px) {
		.angular-google-map-container { height: 288px; }
	}
	@media (min-width: 992px) {
		.angular-google-map-container { height: 372px; }
	}
	@media (min-width: 1200px) {
		.angular-google-map-container { height: 450px; }
	}
</style>

<div class="container-fluid">
	<div class="page-header">
		<h3>Map <small>3rd party</small></h3>
	</div>

	<ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control">
		<ui-gmap-markers models="markers" coords="'self'" options="'self'">
			<ui-gmap-windows>
				<strong ng-non-bindable>{{title}}</strong>
			</ui-gmap-windows>
		</ui-gmap-markers>
	</ui-gmap-google-map>
</div>